{% extends "bootstrap.html" %}
{% block title %}Markdown Converter{% endblock %}
{% block pagetitle %}Markdown Converter{% endblock %}
{% block style %}<link href="/static/styles/main.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block content %}
<div class="content">
    <div class="column-wrapper">
        <div class="column">
            <div class="column-content">
                <h3>Plain text</h3>
                <hr />
                <form action="/" method="post">
                    <textarea class="form-control" id="md_input" name="md_input" >{{ md_raw }}</textarea>
                    <p><input class="btn btn-primary" type="submit" value="Generate Formatted Text" /></p>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="column-content">
                <h3>Formatted text</h3>
                <hr />
                <!-- Needed some help figuring out how to render a string variable: https://stackoverflow.com/a/35215981/3315231 -->
                {{ md_html | safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
