#md_input {
height: 20rem;
width: 100%;
}

.column {
float: left;
width: 50%;
}

/* Clear floats after the columns */
.column-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.column-content {
    padding: 2em;
}